@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../views";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Navbar Styles */
.navbar {
    @apply bg-white border-b border-gray-200 dark:border-gray-800 dark:bg-gray-900;
}

.nav-container {
    @apply max-w-8/10 flex flex-wrap items-center justify-between  mx-auto py-4;
}

.app-name {
    @apply text-2xl font-semibold whitespace-nowrap dark:text-white
}

.nav-link {
    @apply block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 
           md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 
           dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 
           dark:hover:text-white md:dark:hover:bg-transparent;
}

.nav-active {
    @apply block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500;
} 

/* Mobile Toggle Button */
.nav-toggle {
    @apply inline-flex items-center p-2 w-10 h-10 justify-center text-sm 
           text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none 
           focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600;
}


/* Footer Style */
.footer{
    @apply py-4 px-2 text-xs text-center bg-white border-t border-gray-200 dark:text-white dark:border-gray-800 dark:bg-gray-900;
}

/* Dashboard Styles */

.dashboard-card {
    @apply p-4 rounded-lg border bg-gray-100 border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:text-white
}


/* Game Styles */

.game-card {
    @apply flex flex-row justify-between items-center;
}

.score-logo{
    @apply flex justify-center items-end w-5 h-5;
}

.game-team-info{
    @apply w-full flex justify-center items-center flex-col gap-1
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Team Styles */

.team-description {
    @apply bg-gray-300 dark:bg-gray-700 rounded-sm px-2 flex flex-row w-fit;
}

.team-info{
    @apply font-bold w-full border-b shadow-xl rounded-r-md border-gray-200 dark:border-gray-700;
}

/* Player Styles */

.player-description{
    @apply flex justify-center w-1/3 bg-gray-300 dark:bg-gray-700 rounded-l-md
}
.player-info{
    @apply flex justify-center font-bold w-2/3 bg-gray-200 dark:bg-gray-600 rounded-r-md
}

/* Common */
.empty{
    @apply flex justify-center items-center
}
.grid-style{
    @apply p-4 border-b-2 shadow-xl rounded-md border-gray-200 hover:bg-gray-200 hover:border-red-500 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:border-red-800
}
.hover-enlarge {
    @apply transition-transform duration-300 hover:scale-105 hover:shadow-xl hover:cursor-pointer;
}

.hover-enlarge-no-shadow {
    @apply transition-transform duration-300 hover:scale-105 hover:cursor-pointer;
}

.filter-button {
    @apply text-white px-4 py-2 rounded-md w-full sm:w-17 bg-blue-700 hover:bg-blue-800 dark:bg-blue-800 dark:hover:bg-blue-600 hover:cursor-pointer
}

